<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<center>
<div class="card mb-3" style="max-width:460px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ object.image_url }}" class="img-fluid rounded-start" alt="{{object.title}}">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title">{{object.title}}</h4>
            <p class="card-text">Artist:{{ object.artist }}</p>
            <p class="card-text">{{ object.description }}</p>
          </div>
        </div>
    </div>
</div>

<div class="card">
     <p>Price: Rs/- {{ object.price|floatformat:2 }}</p>
     <a id="add-to-cart-btn" class="btn-btn-success"  href="{% url 'add_to_cart' art_id=arts.id %}" onclick="alert('Item added to cart')">Add to cart</a>
      {% if object.art_available is True %}
         <a href="{% url 'mycart' object.pk %}" class="btn btn-outline-success" role="button" style="margin-right: 1%"><font size="5">Buy</font></a>
      {% else %}
         <h4 class="text-danger">Out of stock...!</h4>
      {% endif %}
</div>
</center>
</body>
</html>