{% extends 'artlist.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 <style>
    body{
        background-color: lightblue;
    }
    h1 {
     font-size: 60px;
     color: black;
     text-shadow: 2px 2px white;
    }
   h3{
   font-size: 30px;
   }
 </style>
<body>
<div class="card-body" style="width: 80%; margin-left: 20%; margin-top: 1%;">

      <div class="card-body">
          <h1>select your topic</h1>
          <h3><a href="{% url 'practice' %}">{{object.team1}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team2}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team3}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team4}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team5}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team6}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team7}}</a></h3>
          <h3><a href="{% url 'practice' %}">{{object.team8}}</a></h3>
      </div>
</div>
</body>
</html>
{% endblock content %}