{% extends 'artlist.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      body{
        background-color: lightblue;
      }
      h1 {
         font-size: 60px;
         color: black;
         text-shadow: 2px 2px white;
      }
      h3{
         color: Blue;
         text-align: bold;
      }
    </style>
</head>
<body>
<br>
<h1>Tell us what artworks would you like to do?</h1>
<br>
<br>
<br>
    {% for c in compitition %}
    <h3><a href="{% url 'artwork' c.id %}"> {{c.artwork}}</a></h3>


{% endfor %}


</body>
</html>
{% endblock content %}